.button{
    display: block;
    background-color: var(--color-button);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--color-text-button);
    max-width: 15rem;
}


.button__li{
    display: block;
}

.button__plusone{
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.button__plusone:hover, .button__delete:hover{
    color: blue;
}

.button__delete{
    display: block;
}