.card{
    background-color: var(--color-things);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin: 1rem;
}

.card__title{
    font-size: var(--big-font);
    padding: 1rem;
}