.header{
    background-color: var(--color-header);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    height: 2rem;
}

.header__list-navbar {
    display: flex;
}

.header__link{
    font-size: var(--medium-font);
    margin-left: 2rem;
}

.header__link:hover{
    color: var(--color-header-hover);
}

.header__input-search{
    margin-left: 2rem;
    background-color: var(--color-search);
}
