.table{
    margin-top: 1rem;
    width: 100%;

    background-color: var(--color-things);
    text-align: left;
}

.table td:first-of-type, .table th:first-of-type {
    padding-left: 1rem;
}

.table td:last-of-type, .table th:last-of-type {
    padding-right: 1rem;
}

.table thead{
    font-size: var(--medium-font);
}

th, td{
    padding: 0.5rem;
    border: 2px solid black;
}

table ul{
    justify-content: space-between;
}
