@import url(_reset.css);
@import url(_variables.css);


body {
    background-color: var(--color-background);
    font-family: var(--family-font-main);
    overflow-x: hidden;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.flex {
    display:flex;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--column {
    flex-direction: column;
}