.section
  width: 90%
  margin: 1rem auto
  color: $color-dark
  border: 2px solid $color-dark
  background-color: $color-light
  max-width: 700px

  &__title
    margin-top: 1rem
    text-align: center
    font-size: 2.5rem

    .form
      margin-top: 1rem
      &__fieldset
        display: flex
        justify-items: center
        flex-direction: column
        padding: 1rem

        &__label
          font-size: 1.75rem

        &__input
          padding: .5rem
          color: $color-dark
          font-size: 1.75rem
          margin: .5rem 0 1rem 0
          width: 80%

        &__btn
          text-align: center
          margin-bottom: 1rem

          &--submit
            border: 2px solid transparent
            background-color: $color-dark
            color: $color-light
            width: 50%
            height: 3rem
            transition: 1s
            font-size: 1.5rem

            &--submit:hover
              background-color: $color-hover-button
