.header
    font-family: $ff-primary
    background-color: $color-dark
    color: $color-white
    height: 3rem
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        width: 75%
        margin: 0 auto
    &__nav
        &--links
            margin: 1rem
        &--list
            display: flex
            justify-content: flex-start
            align-items: space-between

    &__input
        height: 2.5rem
        background: $color-white
        color: $color-dark
        margin-right: 1rem