body
    background-color: $color-background
    
.main 
    background-color: $color-light
    width: 75%
    margin: 1.5rem auto

    &__table
        color: $color-dark
        width: 100%

        &--label
            border: 2px solid $color-dark
            font-size: 2rem
            line-height: 1.5

        &--row, &--row-info
            text-align: center

        &--data
            border: 2px solid $color-dark
            font-size: 1rem
            line-height: 1.5

        &--caps
            display: flex
            justify-content: space-around
            align-items: center

        &--options
            display: flex
            justify-content: center
            align-items: center

    & button
        cursor: pointer