<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dre Manga List - Error</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="header_nav nav">
            <ul class="nav__list">
                <li class="nav__links"><a class="nav__link" href="./list.html">List</a></li>
                <li class="nav__links"><a class="nav__link" href="./addNew.html">Add</a></li> 
            </ul>
        </nav>
    </header>
    <main >
        <section class="error">
            <h1>Something not working as expected</h1>
            <h2>Try again later</h2>
        </section>
    </main>
</body>
</html>