<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dré Manga List - List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <nav class="header__nav">
                <ul class="header__nav--list">
                    <li class="header__nav--links"><a class="header__nav--link" href="./list.html">List</a></li>
                    <li class="header__nav--links"><a class="header__nav--link" href="./addNew.html">Add</a></li> 
                </ul>
            </nav>
            <input class="header__input" type="text" placeholder="Search..." data-search>
        </div>
    </header>
    <main class="main">
        <table class="main__table">
            <thead class="main__table--head">
                <tr class="main__table--row">
                    <th class="main__table--label">Name</th>
                    <th class="main__table--label">Status</th> 
                    <th class="main__table--label">EN</th>
                    <th class="main__table--label">BR</th>
                    <th class="main__table--label">Options</th>
                </tr>
            </thead>
            <tbody data-table>
            </tbody>
        </table>
    </main>
    <script type="module" src="../controller/render-controller.js"></script>
    <script type="module" src="../controller/search-controller.js"></script>
    <script type="module" src="../controller/delete-controller.js"></script>
    <script src="https://kit.fontawesome.com/8db75cb122.js" crossorigin="anonymous"></script>
</body>
</html>