<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dre Manga List - Add</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="header_nav nav">
            <ul class="nav__list">
                <li class="nav__links"><a class="nav__link" href="./list.html">List</a></li>
                <li class="nav__links"><a class="nav__link" href="./addNew.html">Add</a></li> 
            </ul>
        </nav>
    </header>
    <main>
        <section class="section">
            <div class="section__title">
                <h1>Update a manga</h1>
            </div>
            <form class="form" data-form>
                <fieldset class="form__fieldset">
                    <label class="form__label" for="input-name">Name</label>
                    <input class="form__input" name="input-name" id="name" type="text" data-name required>
                    <label class="form__label" for="input-status">Status</label>
                    <input class="form__input" name="input-status" id="status" type="text" data-status required>
                    <label class="form__label" for="input-EN">EN Caps</label>
                    <input class="form__input" name="input-EN" id="EN" type="number" data-en required>
                    <label class="form__label" for="input-PTBR">PT-BR Caps</label>
                    <input class="form__input" name="input-PTBR" id="PTBR" type="number" data-ptbr required>
                </fieldset>
                <fieldset class="form__btn">
                    <button class="form__btn--submit" type="submit">Update Manga</button>
                </fieldset>
            </form>
        </section>
    </main>
    <script type="module" src="../controller/update-controller.js"></script>
</body>
</html>